INFURA_ID=""
PRIVATE_KEY=""
MNEMONIC=""
INFURA_API_KEY=""
ETHERSCAN_API_KEY=""

TEST_ERC20_NAME="Test Token"
TEST_ERC20_SYMBOL="TST"
TEST_ERC20_SUPPLY="1000000"
TEST_ERC20_FAUCET_AMOUNT="1000"
TEST_ERC20_FAUCET_OWNER=""

FHETOKEN_TESTNET_NAME="Confidential Token (Testnet)"
FHETOKEN_TESTNET_SYMBOL="CTKN"
FHETOKEN_TESTNET_URI="ipfs://cwtt"

FHETOKEN_MAINNET_NAME="Confidential Token"
FHETOKEN_MAINNET_SYMBOL="CTKN"
FHETOKEN_MAINNET_URI="ipfs://cwtt"
FHETOKEN_MAINNET_UNDERLYING=""
